nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px;
    border-bottom: solid 1px #90f9;
}

nav a {
    color: #fff;
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px 10px;
}

.cube {
    width: 300px;
    height: 300px;
    position: absolute;
    top:  calc(50% - 300px / 2);
    left: calc(50% - 300px / 2);
    transform-style: preserve-3d;
    transform: perspective(700px)  rotateX(-36deg) rotateY(-27deg);
    transition: all 1s ease;
    animation: rotation 30s ease-in-out infinite;
}

.cube > article {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    transform-style: preserve-3d;
    background: linear-gradient(0deg, #070b0f, #111b29);
    color: #fff;
    line-height: 150%;
    letter-spacing: 0.05em;
    box-shadow:
        0 0 1px #f00,
        0 0 1px #f00,
        0 0 1px #f00,
        0 0 1px #f00,
        0 0 10px #d0e9 inset,
        0 0 35px #53d5;
}

.back   {transform: rotateX(-180deg) translateZ(150px);}
.top    {transform: rotateX( 90deg)  translateZ(150px);}
.front  {transform:                  translateZ(150px);}
.bottom {transform: rotateX(-90deg)  translateZ(150px);}
.left   {transform: rotateY(-90deg)  translateZ(150px);}
.right  {transform: rotateY( 90deg)  translateZ(150px);}

.cube > article h2 {
    text-transform: uppercase;
    color: #900;
    font-size: 20px;
    font-weight: 600;

}

.cube > article p {
    font-weight: 200;
    font-size: 15px;
}

.cube > article img {
    width: 100%;
}

@keyframes rotation {
    50% {transform:perspective(700px) rotateX(360deg) rotateY(720deg);}
}