
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}
.style {
    margin-top: 20px;
    text-align: center;
}
.logo{
    font-family: 'Major Mono Display';
    font-size: 30px;
}
.row{
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    font-family: 'Major Mono Display';
    font-size: 25;
    font-weight: bold;
    text-align: center;
}

button{
    font-family: 'Major Mono Display';
    font-size: 20px; 
    background-color: rgb(255, 255, 255); 
    border-radius: 3px;
}
.nextlogo{
    margin: 10px;
    font-family: 'Major Mono Display';
    font-size: 20px;  
}
